<!DOCTYPE HTML>
<html ng-app="App">

<head>
	<title>Home | IDS </title>
</head>
<body ng-controller="homeController">

	<div ng-repeat = "item in drivers">
		<li>{{item.id}}</li>
		<li>{{item.name}}</li>
		<li>{{item.mobil}}</li>
	</div>

	<h2>anjeng</h2>


	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="libs/bootstrap.min.css">
	<script type="text/javascript" src="libs/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>

</html>